<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search:
            <input ng-model="query"> Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Date</option>
            </select>
        </div>
    </div>
</div>
<table width="940" class="events">
    <tr ng-repeat="event in events | filter:query | orderBy:orderProp">
        <td width="45"><img src="img/uc_icon.jpg" alt="" /></td>
        <td width="400"><a href="#/cities/{{event.name}}"><strong>{{event.Event}}</a><br>
                </strong>{{event.Location}}</td>
        <td width="200">{{event.Date}}</td>
        <td width="148"><a href="#/cities/{{event.name}}">More Details</a></td>
        <td width="148"><a href="mailto:?subject=Check out this event!&body=Check out this Regional Seminar I just registerd for. I think you'll be interested in it. http://www.osisoft.com/corporate/events/#/cities/{{event.name}}">E-mail a Friend</a></td>
    </tr>
</table>
