<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/slideshow.js"></script>
<div class="content">
    <div class="osiSlider">
        <ul class="osiSliderImgList" id="sliderList" data-interval="5000">
            <li>
                <a href="http://www.osisoft.com/uc2015/sf/index.html">
                    <img alt="Users Conference 2015" src="../img/banner1.jpg" />
                </a>
            </li>
            <li>
                <a href="http://www.osisoft.com/corporate/events/latamrc/index.html">
                    <img alt="2015 Latam Regional Conference" src="../img/banner2.jpg" />
                </a>
            </li>
            <li>
                <a href="http://www.osisoft.com/corporate/Events/Brussels_Belgium.html">
                    <img alt="2015 Brussels, Belgium Transmission &amp; Distribution Industry Forum" src="../img/banner3.jpg" />
                </a>
            </li>
        </ul>
        <div class="sliderImages" id="slider"></div>
        <div class="sliderCntrlsArea">
            <div class="sliderCtnrls">
                <span class="sliderNextPrev" id="sliderBtnPrev">◀</span>
                <span id="sliderPos"></span>
                <span class="sliderNextPrev" id="sliderBtnNext">▶</span>
            </div>
        </div>
    </div>
</div>
